<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row-md-8 d-flex justify-content-end mb-3">
                    <button @click="backToHome" type="button" class="btn btn-primary">Back</button>
                    <router-link
                        :to="{ name: 'attribute', params: {chat_id: chatId}}"
                        tag="button"
                        class="btn btn-success ml-3"
                    >
                        Add attribute
                    </router-link>
                </div>
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Key</th>
                            <th scope="col">Value</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(attribute, key) in attributes" :key="attribute.id">
                            <th scope="row">{{ key + 1 }}.</th>
                            <td>{{ attribute.key }}</td>
                            <td>{{ attribute.value }}</td>
                            <td>
                                <router-link
                                    :to="{ name: 'attribute', params: {chat_id: chatId, id: attribute.id} }"
                                    tag="button"
                                    class="btn btn-warning btn-sm"
                                >
                                    Edit
                                </router-link>
                                <button
                                    @click="deleteAttribute(attribute.id)"
                                    type="button"
                                    class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: 'Attributes',
		data: function () {
			return {
				attributes: {},
                chatId: 0,
			};

		},
		mounted () {
			this.chatId = this.$route.params.id
			this.getAttributes();
		},
		methods: {
			getAttributes () {
				axios.get('/chat/' + this.chatId + '/attributes').then(response => {
					this.attributes = response.data.data;
				})
					.catch(error => {
						console.log(error);
					})
			},
            deleteAttribute(id) {
				if(confirm('Are you sure?')){
					let url = 'chat/' + this.chatId + '/attributes/' + id;
					axios.delete(url)
						.then(response => {
							this.attributes = this.attributes.filter(x => {
								return x.id !== id;
							})
						})
				}
            },
			backToHome () {
				this.$router.push({name: 'home'})
            }
		}
	}
</script>

<style scoped>

</style>