<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row-md-8 d-flex justify-content-end mb-3">
                    <button @click="backToHome" type="button" class="btn btn-primary">Back</button>
                </div>
                <div class="card p-4">
                    <form
                        enctype="multipart/form-data"
                        @submit.prevent="actAttribute">
                        <div class="form-group">
                            <label for="key">Key</label>
                            <input
                                type="text"
                                class="form-control"
                                id="key"
                                name="key"
                                v-model="attribute.key"
                                placeholder="Key"
                                required>
                        </div>
                        <div class="form-group">
                            <select v-model="attribute.type" class="form-select">
                                <option value="integer">Integer</option>
                                <option value="decimal">Decimal</option>
                                <option value="string">String</option>
                                <option value="boolean">Boolean</option>
                                <option value="datetime">Datetime</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="value">Value</label>
                            <div v-if="attribute.type === 'boolean'" class="check">
                                <div class="form-check">
                                    <input v-model="attribute.value" value="true" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        true
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="attribute.value" value="false" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        false
                                    </label>
                                </div>
                            </div>
                            <input
                                v-else
                                :type="inputType(attribute.type)"
                                :step="attribute.type === 'decimal' ? 'any' : ''"
                                class="form-control"
                                id="value"
                                name="value"
                                v-model="attribute.value"
                                placeholder="Value"
                                required>
                        </div>
                        <div class="actions-button">
                            <button
                                class="btn btn-success">
                                {{ attributeId ? 'Edit' : 'Create' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: 'Attribute',
		data: function () {
			return {
				attribute: {
					type: 'integer'
                },
                attributeId: 0,
                chatId: 0
			};
		},
		mounted () {
			this.attributeId = this.$route.params.id
			this.chatId = this.$route.params.chat_id
            if(this.attributeId) {
				this.getAttribute();
            }
		},
		methods: {
			getAttribute () {
				let url = 'chat/' + this.chatId + '/attributes/' + this.attributeId;
				axios.get(url).then(response => {
					this.attribute = response.data.data;
				})
					.catch(error => {
						console.log(error);
					})
			},
			actAttribute () {
				let url = 'chat/' + this.chatId + '/attributes/' + (this.attributeId ? this.attributeId : '');
                axios.post(url, {
                	_method: this.attributeId ? 'put' : 'post',
                    ...this.attribute
                }).then(response => {
                    this.$router.push({name: 'attributes', params: {id: this.chatId}})
                }).catch(error => {
					console.log(error);
				})
            },
			backToHome () {
				window.history.back();
			},
			inputType(type){
				switch (type) {
					case 'datetime':
						return 'datetime-local'
					case 'integer':
                    case 'decimal':
						return 'number'
					case 'string':
						return 'text'
					default:
						return 'text'
				}
			}
		}
	}
</script>

<style scoped>

</style>