<template>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="col-6" scope="col">Name</th>
                            <th class="align-text" scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(chat, key) in chats" :key="chat.id">
                            <th scope="row">{{ key + 1 }}.</th>
                            <td>{{ chat.name }}</td>
                            <td class="actions">
                                <router-link
                                    :to="{ name: 'attributes', params: {id: chat.id} }"
                                    tag="span"
                                    class="btn btn-primary btn-sm"
                                >
                                    Check attributes {{ chat.attributes_count }}
                                </router-link>
                                <router-link
                                    :to="{ name: 'attribute', params: {chat_id: chat.id}}"
                                    tag="button"
                                    class="btn btn-success btn-sm"
                                >
                                    Add attribute
                                </router-link>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		data: function () {
			return {
				chats: {},
			};

		},
        created () {
            this.getChats();
        },
		methods: {
			getChats () {
                axios.get('chats').then(response => {
                    this.chats = response.data;
				})
					.catch(error => {
						console.log(error);
					})
            }
        }
	}
</script>

<style lang="sass" scoped>
    .actions
        display: flex
        justify-content: space-evenly
    .align-text
        text-align: center
</style>